* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Use full height of viewport */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-grow: 1; /* Allow the wrapper to grow to fill remaining space */
}

.header, .footer {
    border-bottom: 1px solid black;
    height: 61px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 0 22px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    width: 357px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.product_anchor {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: lightskyblue;
    flex-grow: 1;
    min-height: calc(100% - 122px); /* Subtract header and footer heights */
}

.footer {
    border-bottom: none;
    border-top: 1px solid black;
    flex-shrink: 0; /* Prevent footer from shrinking */
}

.nav_footer {
    display: flex;
    justify-content: space-between;
    width: 690px;
}
